<h1>Role Data</h1>

<!--<p *ngIf="!roleList"></p>-->

<ngx-smart-modal #addRoleModal identifier="addRoleModal">
  <h1>Add Role</h1>

  <!--<div *ngIf="addRoleModal.hasData()">
    <pre>{{ addRoleModal.getData() | json }}</pre>
  </div>-->

  <div>
    <div>
      <div>
        <label class="col-md-4">Role Name</label>
        <input type="text" class="form-control" name="role_name" value="{{newRole.roleName}}" (change)="updateRole()" />
      </div>
      <div>
        <button class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>

  <button (click)="addRoleModal.close()">Close</button>
</ngx-smart-modal>

<button (click)="addRoleModal.open()">Add</button>

<table class='table' *ngIf="roleList">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let role of roleList">
      <td>{{ role.roleId }}</td>
      <td>{{ role.roleName }}</td>
      <td>
    </tr>
  </tbody>
</table>
