<h1>Role Data</h1>
<p>
  <a [routerLink]="['/create-role']">Create New</a>
</p>
<p-table #dt [value]="roles" filterMatchMode="contains" sortMode="multiple" [globalFilterFields]="['roleId','roleName']">
  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th [pSortableColumn]="'roleId'">
        Id
        <p-sortIcon [field]="'roleId'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'roleName'">
        Name
        <p-sortIcon [field]="'roleName'"></p-sortIcon>
      </th>
      <th width="20%" colspan="2">
        Action
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-role>
    <tr>
      <td>{{role.roleId}}</td>
      <td>{{role.roleName}}</td>
      <td align="center" colspan="2">
        <button class="btn btn-link" (click)="displayEditDialog(role)">Edit</button>
        <button class="btn btn-danger" (click)="deleteRole(role.roleId)">Delete</button>
      </td>
    </tr>
  </ng-template>
</p-table>
<!--<edit-role-dialog (onClose)="onClose()"></edit-role-dialog>-->
<edit-role-dialog (onClose)="onClose()"></edit-role-dialog>
{{message}}
